select.card-select {
    width : 400px;
}

div.container-fluid {
    padding-left : 100px;
}

div.hand {
    border-style : double;
    /*border-style : dashed;*/
    border-width : 4px;
    border-color : maroon;
}

h4 {
    color : #A9A9A9;
}

div.card {
    padding-right : 10px;
    width : 200px;
}

.nowrap {
  white-space: nowrap;
}