select.card-select {
    width : 400px;
}

div.container-fluid {
    padding-left : 100px;
}

div.hand {
    /*border-style : double;*/
    border-left : 4px dashed maroon;
    border-right : 4px dashed maroon;
}

.top-border {
    border-top : 4px dashed maroon;
}

.bottom-border {
    border-bottom : 4px dashed maroon;
}

h4 {
    color : #f5deb3;
}

div.card {
    padding-right : 10px;
    width : 200px;
}

.nowrap {
  white-space: nowrap;
}

img.card-img {
    width : 152px;
    height : 200px;
    padding : 5px;
}

button.btn#run_sim_btn {
    margin : 5px;
}

ul.results {
    font-family : comic, cursive, sans-serif;
    
}

ul.results li {
    padding: 0px 0px;
    margin: -15px -15px;
    font-size: 25px;
}

.saved-hands {
    display : inline-block;
    text-align : right;
    margin-left : 100px;
}