<!DOCTYPE html>
<html ng-app="poker">

   <head>
      <meta charset="utf-8">
      <title>Poker</title>
      <script>
         document.write('<base href="' + document.location + '" />');
      </script>
      <!-- Order of these loads incredibly important, if a file is dependent on another file, load the independent first -->
      <!-- REMEMBER: latter specified takes precedence-->
      <!--JQuery and angular first-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
      
      <!--Then bootstrap in order of most general to most specific-->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
      
      <!--Load custom stuff last-->
      <link rel="stylesheet"  href="app/stylesheets/base.css"/>
      <script src="app/scripts/nav_bar.js"></script>
   </head>
 
   <body >
     <div class="container">
       
       <div class="navbar">
         <ul class="nav navbar-nav" ng-controller="NavCtrl">      
           <li color='#000080' ng-class="navClass('single_hand')"><a href='#/single_hand'>Single Hand Odds</a></li>
           <li color='#000080' ng-class="navClass('multi_hand')"><a href='#/multi_hand'>Multi Hand Odds</a></li>
           <li color='#000080' ng-class="navClass('play_live')"><a href='#/live'>Play Live</a></li>
         </ul>
       </div>
     </div>
     <div ng-view> </div>
   </body>
</html>