<!DOCTYPE html>
<html ng-app="poker">
   <head>
      <title>Single Hand Odds</title>
      <script src="/app/scripts/run_simulation.js"></script>
      <script src="/app/scripts/edit_dom.js"></script>
      <link rel="stylesheet"  href="app/stylesheets/single_hand.css"/>
      <script>
         $(document).ready(function() {
            $('.selectpicker').selectpicker();
         });
      </script>
   </head>
   
   <body>
      <div class="container-fluid card-select">
         <div ng-controller="SingleHandCtrl">
            <button id="run_sim_btn" class='btn btn-primary' ng-click="run_sim()">Run Simulation</button>
            <div class="col-sm-5 hand top-border">
               <h4 class="lead text-center">Hole Cards</h4>
               <div class="row">
                  <select title='Value' class="card-select holecard1 selectpicker show-tick" data-style="btn-info"data-width="75px" ng-model="Card" ng-change='cardSelect($event)' ng-options="x for x in vals">
                     <option value="">(None)</option>
                  </select>
                  <select title='Suit' class="card-select holecard1 selectpicker show-tick" data-style="btn-info" data-width="75px" ng-model="Card" ng-change='cardSelect($event)' ng-options="x for x in suits">
                     <option value="">(None)</option>
                  </select>
                  <select title='Value' class="card-select holecard2 selectpicker show-tick" data-style="btn-info"data-width="75px" ng-model="Card" ng-change='cardSelect($event)' ng-options="x for x in vals">
                     <option value="">(None)</option>
                  </select>
                  <select title='Suit' class="card-select holecard2 selectpicker show-tick" data-style="btn-info" data-width="75px" ng-model="Card" ng-change='cardSelect($event)' ng-options="x for x in suits">
                     <option value="">(None)</option>
                  </select>
                  <button id="save_hand" class='btn btn-primary' ng-click="save_hand()">Save Hand</button>
               </div>
               <div class="row">
                  <img class='card-img' ng-src="{{image['holecard1']}}"/>
                  <img class='card-img' ng-src="{{image['holecard2']}}"/>
               </div>
               <div class="row">
                  <h4 class="lead text-center">Board Cards</h4>
               </div>
               <div class="row">
                  <select title='Value' class="card-select board1 selectpicker show-tick" data-style="btn-info"data-width="75px" ng-model="Card" ng-change='cardSelect($event)' ng-options="x for x in vals">
                     <option value="">(None)</option>
                  </select>
                  <select title='Suit' class="card-select board1 selectpicker show-tick" data-style="btn-info" data-width="75px" ng-model="Card" ng-change='cardSelect($event)' ng-options="x for x in suits">
                     <option value="">(None)</option>
                  </select>
                  <select title='Value' class="card-select board2 selectpicker show-tick" data-style="btn-info"data-width="75px" ng-model="Card" ng-change='cardSelect($event)' ng-options="x for x in vals">
                     <option value="">(None)</option>
                  </select>
                  <select title='Suit' class="card-select board2 selectpicker show-tick" data-style="btn-info" data-width="75px" ng-model="Card" ng-change='cardSelect($event)' ng-options="x for x in suits">
                     <option value="">(None)</option>
                  </select>
                  <select title='Value' class="card-select board3 selectpicker show-tick" data-style="btn-info"data-width="75px" ng-model="Card" ng-change='cardSelect($event)' ng-options="x for x in vals">
                     <option value="">(None)</option>
                  </select>
                  <select title='Suit' class="card-select board3 selectpicker show-tick" data-style="btn-info" data-width="75px" ng-model="Card" ng-change='cardSelect($event)' ng-options="x for x in suits">
                     <option value="">(None)</option>
                  </select>
                  <select title='Value' class="card-select board4 selectpicker show-tick" data-style="btn-info"data-width="75px" ng-model="Card" ng-change='cardSelect($event)' ng-options="x for x in vals">
                     <option value="">(None)</option>
                  </select>
                  <select title='Suit' class="card-select board4 selectpicker show-tick" data-style="btn-info" data-width="75px" ng-model="Card" ng-change='cardSelect($event)' ng-options="x for x in suits">
                     <option value="">(None)</option>
                  </select>
               </div>
               <div class="row hand bottom-border">
                  <img class='card-img' ng-src="{{image['board1']}}"/>
                  <img class='card-img' ng-src="{{image['board2']}}"/>
                  <img class='card-img' ng-src="{{image['board3']}}"/>
                  <img class='card-img' ng-src="{{image['board4']}}"/>
               </div>
            </div>
            <div class="col-sm-5 hand top-border">
               <h4 class="lead text-center">Results</h4>
               <ul class='results' ng-repeat="res in results">
                  <li>{{ res }}</li>
               </ul>
            </div>
         </div>
      </div>
   </body>
</html>