<!DOCTYPE html>
<html ng-app="poker">
   <head>
      <title>Single Hand Odds</title>
      <script src="/app/scripts/run_simulation.js"></script>
      <script src="/app/scripts/drop_down.js"></script>
   </head>
   
   <body>
      <div ng-app="pker" ng-controller="DropDownCtrl">
         <select ng-model="selectedName" ng-options="x for x in vals"></select>
      </div>
      
      <button id="run_sim_btn" class='btn btn-primary' onclick="run_simulation();"></button>
   </body>
</html>


      <!--   var app = angular.module('poker', []);-->
      <!--   app.controller('DropDownCtrl', function($scope) {-->
      <!--   $scope.names = ["Emil", "Tobias", "Linus"];-->
      <!--   });-->